.bg{
  width: 200px;
  height: 200px;
  background-image: url("../../assets/backround.jpg");
}
.form-container{
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
  width:500px;
  }
