<app-navbar></app-navbar>
<br>
<h1 class="center1" *ngIf="categorySelected==false">Επιλέξτε μία Κατηγορία SQL Λέξεων για εξάσκηση</h1>
<div class="navbar bg-dark" style="height:390px;  width: 230px; overflow: auto">
  <nav>
    <section class="list-with-heading">
      <h3>SQL Λέξεις:</h3>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <ul>
        <li (click)="select()"><a><button class="button2">SQL Select</button></a></li>
        <li (click)="where()"><a><button class="button2">SQL Where</button></a></li>
        <li (click)="order()"><a><button class="button2">SQL Order By</button></a></li>
        <li (click)="insert()"><a><button class="button2">SQL Insert</button></a></li>
        <li (click)="null1()"><a><button class="button2">SQL Null</button></a></li>
        <li (click)="update()"><a><button class="button2">SQL Update</button></a></li>
        <li (click)="delete()"><a><button class="button2">SQL Delete</button></a></li>
        <li (click)="fun()"><a><button class="button2">SQL Functions</button></a></li>
        <li (click)="like()"><a><button class="button2">SQL Like</button></a></li>
        <li (click)="wildcards()"><a><button class="button2">SQL WildCards</button></a></li>
        <li (click)="in()"><a><button class="button2">SQL In</button></a></li>
        <li (click)="between()"><a><button class="button2">SQL Between</button></a></li>
        <li (click)="alias()"><a><button class="button2">SQL Alias</button></a></li>
        <li (click)="join()"><a><button class="button2">SQL Join</button></a></li>
        <li (click)="group()"><a><button class="button2">SQL Group By</button></a></li>
      </ul>
    </section>
  </nav>
</div>
<h3 *ngIf="categorySelected==true" class="center2">{{header}}</h3><br>

<div *ngIf="categorySelected==true" class="form-container headers">
  <div class="header1"><label
      for="fname"><b>{{this.questionidToNumber+1}}.{{fillfieldsquestionsArray[questionid].question}}</b></label></div>
  <br><br>
  <h3 [innerHTML]="fillfieldsquestionsArray[questionid].fill_field_question"></h3><br>
  <input type="text" class="inputtext"
    placeholder="Γράψτε τις λέξεις που λείπουν χωρισμένες με κόμμα και χωρίς περιττά κενά..." id="text"
    [(ngModel)]="textfield">
  <br><br> <br><br> <br><br>
  <div class="form-group">
    <a class="btn btn-link" (click)="showAnswer(fillfieldsquestionsArray[questionid].id)">Δείξε την Απάντηση</a>
    <button class="btn btn-primary" (click)="next(fillfieldsquestionsArray[questionid].id)">
      <span class="spinner-border-sm mr-1"></span>
      Υποβολή
    </button>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Παρακαλώ περιμένετε...</p>
</ngx-spinner>
