.bg-company-red {
  background-color: darkred !important;
}
.navbar {
  min-height: 80px;
  width: 100%;
}
.navbar-brand {
  font-size: 40px;
}
.nav-link {
  font-size: 30px;
}
.nav .open > a
{
    background:#759ad6;

}
.active > a {
  color: white;
}
ul li :hover,
ul li :focus {
  color: rgb(36, 67, 206);
}
