<br>
<br>
<form class="form-container" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <h1 class="header">Αλλαγή Κωδικού Πρόσβασης</h1>
  <img style='height: 100%; width: 100%; object-fit: cover' src="../../assets/rese.png"><br><br>
  <div class="form-group">
    <label for="password">Κωδικός</label>
    <input type="password" formControlName="password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Ο κωδικός πρόσβασης απαιτείται</div>
      <div *ngIf="f.password.errors.minlength">Ο κωδικός πρόσβασης πρέπει να είναι μεγαλύτερος από 6 χαρακτήρες</div>
    </div>
  </div>
  <div class="form-group">
    <label for="repassword">Επαλήθευση κωδικού</label>
    <input type="password" formControlName="repassword" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" />
    <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
      <div *ngIf="f.repassword.errors.required">Η επαλήθευση κωδικού απαιτείται</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Αλλαγή κωδικού
    </button>
  </div>
</form>
<br>
<br>
<br>
