<app-navbar></app-navbar>
<br>
<br>
<h2 class="header center1">Τα Σκορ μου στα Κουίζ</h2><br>
<div style="height:400px; overflow: auto">
  <table class="table table-striped table-responsive-md btn-table form-container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Σκορ</th>
        <th scope="col">Διάρκεια κουίζ</th>
        <th scope="col">Επίπεδο Δυσκολίας</th>
        <th scope="col">Κατηγορία</th>
        <th scope="col">Ημερομηνία Επίτευξης</th>
      </tr>
    </thead>
    <tbody class="content">
      <tr *ngFor="let score of scoresArray;let i=index;">
        <td><b>{{i+1}}</b></td>
        <td><b>{{score.score}}</b></td>
        <td><b>{{score.time}}</b></td>
        <td><b  *ngIf="score.difficulty=='easy'">Εύκολο</b><b  *ngIf="score.difficulty=='hard'">Δύσκολο</b></td>
        <td><b  *ngIf="score.category=='15 Questions'">15 Ερωτήσεις</b><b  *ngIf="score.category=='25 Questions'">25 Ερωτήσεις</b></td>
        <td><b>{{score.createdAt.slice(0,-41)}}</b></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<h2 class="header center1">Τα υλοποιημένα Τεστ στους δημιουργημένους Πίνακες</h2><br>
<div style="height:400px; overflow: auto">
  <table class="table table-striped table-responsive-md btn-table form-container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Επιτυχία</th>
        <th scope="col">Διάρκεια Τεστ</th>
        <th scope="col">Πίνακας</th>
        <th scope="col">Τύπος άσκησης</th>
        <th scope="col">Ημερομηνία Επίτευξης</th>
      </tr>
    </thead>
    <tbody class="content">
      <tr *ngFor="let rate of ratesArray;let i=index;">
        <td><b>{{i+1}}</b></td>
        <td><b>{{rate.rate}}</b></td>
        <td><b>{{rate.time}}</b></td>
        <td><b>{{rate.table_name}}</b></td>
        <td><b>{{rate.type_excersice}}</b></td>
        <td><b>{{rate.createdAt.slice(0,-41)}}</b></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Παρακαλώ περιμένετε...</p>
</ngx-spinner>
