<app-navbar></app-navbar>
<br>
<br>
<h2 class="header center1">Εκπαιδευόμενοι</h2><br>
<!-- Table -->
<div style="height:400px; overflow: auto">
  <table class="table table-striped table-responsive-md btn-table form-container">
    <thead>
      <tr>
        <th scope="col">Όνομα</th>
        <th scope="col">Επώνυμο</th>
        <th scope="col">Ενέργειες</th>
      </tr>
    </thead>
    <tbody class="content">
      <tr *ngFor="let student of studentsArray;;">
        <td *ngIf="student.role=='student'"><b>{{student.first_name}}</b></td>
        <td *ngIf="student.role=='student'"><b>{{student.last_name}}</b></td>
        <td *ngIf="student.role=='student'"><button type="button" class="btn btn-primary  py-1 px-2"
            (click)="moreinfo(student.id)" (click)="scroll(target)"><i class="fa fa-search">
              Πληροφορίες</i></button>&nbsp;&nbsp;<button type="button" class="btn btn-primary  py-1 px-2"
            (click)="scoreofeachstudent(student.id,student.first_name,student.last_name)" (click)="scroll(target)"><i
              class="fa fa-graduation-cap"> Πίνακας σκορ
            </i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Table -->
<br><br>
<div #target></div>
<div *ngIf="moreinfoclick==true" class="container bootstrap snippets bootdey form-container">
  <div class="panel-body inf-content">
    <div class="row">
      <div class="col-md-4">
        <img *ngIf="studentsex=='Male' && studentrole=='Student'" alt="" style="width:600px;" title=""
          class="img-circle img-thumbnail isTooltip" src="../../assets/malestudent.png" data-original-title="Usuario">
        <img *ngIf="studentsex=='Female' && studentrole=='Student'" alt="" style="width:600px;" title=""
          class="img-circle img-thumbnail isTooltip" src="../../assets/femalestudent.jpg" data-original-title="Usuario">
        <img *ngIf="studentsex=='Male' && studentrole=='Teacher'" alt="" style="width:600px;" title=""
          class="img-circle img-thumbnail isTooltip" src="../../assets/teachemale.png" data-original-title="Usuario">
        <img *ngIf="studentsex=='Female' && studentrole=='Teacher'" alt="" style="width:600px;" title=""
          class="img-circle img-thumbnail isTooltip" src="../../assets/teacherfemale.png" data-original-title="Usuario">
        <ul title="Ratings" class="list-inline ratings text-center">
          <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <strong>Πληροφορίες</strong><br>
        <div class="table-responsive"><br>
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                    Όνομα
                  </strong>
                </td>
                <td class="text-primary">
                  {{studentfirstname}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-user  text-primary"></span>
                    Επώνυμο
                  </strong>
                </td>
                <td class="text-primary">
                  {{studentlastname}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-cloud text-primary"></span>
                    Φύλο
                  </strong>
                </td>
                <td class="text-primary">
                  {{studentsgrsex}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-cloud text-primary"></span>
                    Όνομα χρήστη
                  </strong>
                </td>
                <td class="text-primary">
                  {{studentusername}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-bookmark text-primary"></span>
                    Email
                  </strong>
                </td>
                <td class="text-primary">
                  {{studentemail}}
                </td>
              </tr>
              <tr>
              </tr>
              <tr>
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-bookmark text-primary"></span>
                    Τηλέφωνο
                  </strong>
                </td>
                <td class="text-primary">
                  {{studentphone}}
                </td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf="clickscoreinfo==true" class="header center1">Τα Σκορ του/ης {{firstname}} {{lastname}}</h4><br>
<div style="height:400px; overflow: auto" *ngIf="clickscoreinfo==true">
  <table class="table table-striped table-responsive-md btn-table form-container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Σκορ</th>
        <th scope="col">Διάρκεια κουίζ</th>
        <th scope="col">Επίπεδο Δυσκολίας</th>
        <th scope="col">Κατηγορία</th>
        <th scope="col">Ημερομηνία Επίτευξης</th>
      </tr>
    </thead>
    <tbody class="content">
      <tr *ngFor="let score of scoresArray;let i=index;">
        <td><b>{{i+1}}</b></td>
        <td><b>{{score.score}}</b></td>
        <td><b>{{score.time}}</b></td>
        <td><b>{{score.difficulty[0].toUpperCase()+score.difficulty.substr(1).toLowerCase()}}</b></td>
        <td><b>{{score.category}}</b></td>
        <td><b>{{score.createdAt.replace("T"," ").slice(0,-5)}}</b></td>
      </tr>
    </tbody>
  </table>
</div>
<br><br><br>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Παρακαλώ περιμένετε...</p>
</ngx-spinner>
