.info {
  color: rgb(255, 255, 255);
}

.staticinfo {
  color: rgb(255, 255, 255);
}
.form-container {
  background: rgb(196, 196, 196);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
  margin: 0 auto;
  margin-top: 0%;
  width: 80%;
}

.col-md-6 {
  text-align: center;
}

.col-md-4 {
  margin-top: 40px;
}
.header {
  font-style: initial;
  font-size: 60px;
  letter-spacing: 2px;
  color: rgb(36, 36, 36);
  margin-top: 1%;
  text-align: center;
  width: 100%;
}
